<div class="py-4 text-sm flex flex-row justify-center space-x-4">
  <a class="text-gray-500 hover:text-gray-800 transition duration-200" href="/view">
    Home
  </a>

  <a class="text-gray-500 hover:text-gray-800 transition duration-200" href="/api">
    API
  </a>

  <a class="text-gray-500 hover:text-gray-800 transition duration-200" target="_blank" rel="noopener noreferrer"
    href="https://github.com/chiyadev/lolistorage">

    powered by lolistorage
  </a>
</div>
