{{#*inline "page"}}

<div class="p-4 text-xl font-bold cursor-default">
  <a class="hover:text-gray-600 transition duration-200" href="/view">
    {{>icons/folder-open}}
  </a>

  /
  {{#each path_parts}}
  {{#if @index}}
  /
  {{/if}}

  <a class="hover:text-gray-600 transition duration-200" href="/view/{{full_name}}">
    {{name}}
  </a>
  {{/each}}
</div>

<div class="text-sm rounded overflow-hidden border border-gray-300 divide-y divide-gray-300">
  {{#if_not_null list.parent_path}}
  {{>view/folder name=".." full_name=list.parent_path}}
  {{/if_not_null}}

  {{#each list.directories}}
  {{>view/folder}}
  {{/each}}

  {{#each list.files}}
  {{>view/file}}
  {{/each}}
</div>

{{/inline}}
{{~>layout~}}
