{{#*inline "page"}}

<div class="p-4 text-xl font-bold">
  {{>icons/folder-open}}

  /{{list.path}}
</div>

<div class="text-sm rounded overflow-hidden border border-gray-300 divide-y divide-gray-300">
  {{#if_not_null list.parent_path}}
  {{>view/folder name=".." full_name=list.parent_path}}
  {{/if_not_null}}

  {{#each list.directories}}
  {{>view/folder}}
  {{/each}}

  {{#each list.files}}
  {{>view/file}}
  {{/each}}
</div>

{{/inline}}
{{~>layout~}}
